@tailwind base;
@tailwind component;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root{
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-primary: #24292e;
    --background: white;
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: white;
    --background: 24292e;
    --shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px 0px;
  }
}
@media (min-width: 360px) {
  :root {
    --scale: 0.8;
  }
}

@media (min-width: 768px) {
  :root {
    --scale: 1;
  }
}

@media (min-width: 1024px) {
  :root {
    --scale: 1.2;
  }
}

body{
  color: var(--text-primary);
  background-color: var(--background);
}

h1 {
  font-size: calc(5rem * var(--scale));
}

h2 {
  font-size: calc(1.5rem * var(--scale));
}
P {
  font-size: calc(1rem * var(--scale));
} 
.cursive{
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.home-name {
  font-size: 150px;
}